@charset "utf-8";
@import url("/webresources/font-awesome-4.7.0/css/font-awesome.min.css");

//#a1d3c2
$buttonColor:mediumaquamarine;
$buttonColorHover:darken(mediumaquamarine, 10%);

//#ccc5a2
$secondaryButtonColor: #ccc5a2;
$secondaryButtonColorHover: darken(#ccc5a2, 10%);

$introTextColor:#4d8673;

.header-menu {
    position: absolute;
    top: 10px;
    right: 100px;    


    .ui-view.menu-item-link, &:before {
        
        height: 30px;
        line-height: 30px;
        display: inline-block;
        margin: 10px;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 5px 20px;
        
        background-color: rgba(0,0,0,0.1);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .8s;
    }
    
    .ui-view.menu-item-link {
        p {
            display: inherit;
        }
        
        &:hover {
            background-color: rgba(0,0,0,0.2);
            transition: background-color .2s;
        }
        
        
        &.hidden{
            display: none;
        }
    }
    
}



 @media only screen and (max-width: 1250px) {

    .header-menu {
        
        display: inline-block;
        width: 200px;
        text-align: right;
        right: 10px;
        
        
        &:before {
            content: "Menu"; 
            color: white;
        }
    
        .ui-view.menu-item-link{
            display:none;
        }
        
        &:hover .ui-view.menu-item-link, &.active .ui-view.menu-item-link{
            display:inline-block;
        }

    }
}






[data-view="homePageContent"] {
    background-color: rgba(0,0,0,0.02);
    padding-top: 20px;
    padding-bottom: 100px;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.site-heading {
    position: absolute;
    left: 300px;
    top: 20px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 50px black;
    
    h1 {
        font-weight: 500;
        margin-bottom: 0;
    }
    
    h2 {
        margin-top: 0;
        color: white;
    }
    
    @media only screen and (max-width: 1250px) {

        h1{
            margin-top:50px;
            font-size:45px;
        }
        
        h2{
            font-size:25px;
        }
    
    }


}







.ui-view.page-header {
   
   
    height: 250px;
    background: #3f3c3b;


    &:after {
        background-image: url("https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/%5BG%5D_0Zn_l8_ctO_%5BImAgE%5D-%3Ethumb%3A%3E200x%3E150.png");
        position: absolute;
        content: "";
        height: 200px;
        width: 200px;
        display: inline-block;
        background-size: cover;
        left: 55px;
        top: 25px;
    }
}


.ui-view.page-banner .ui-list-view.banner-btns, .target-story [data-view="storyPageContent"] .story-btns {
    
    
    
    
    
    .ui-view, .menu-item-link .clickable a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ffc107;
            font-size: 28px;
            margin: 10px;
            margin-bottom: 40px;
        
            cursor: pointer;
            transition:background-color 1s, box-shadow 1s;
            box-shadow: 0 0 3px rgb(0 0 0 / 20%);
            
            &:hover{
                background-color: darken(#ffc107, 10%);
                box-shadow: 0 0 8px rgb(0 0 0 / 30%);
                transition:background-color 0.3s, box-shadow 0.3s;
            }
            
            &.highlight-btn{
                background-color: #d00705;
                &:hover{
                    background-color: darken(#d00705, 10%); 
                }
            }
        }
        
    .menu-item-link .clickable a{
        display:none;
        margin-bottom: 0;
        margin-top: 0;
        
        
        
        
        &.social-share:before {
            content: "\0f09a";
            font-family: 'FontAwesome';
            margin-right: 15px;
            font-size: 28px;
        }
        
        &.twitter-share:before {
            content: "\0f099";
        }
        
        &.email-share:before {
            content: "\0f0e0";
        }
        
        
        
    }
    
    
    .clickable.share p:before {
        content: "\0f1e0";
        font-family: 'FontAwesome';
        margin-right: 10px;
    }
    
    .clickable.contact p:before {
        content: "\0f1d8";
        font-family: 'FontAwesome';
        margin-right: 10px;
    }
    
     .clickable.edit p:before {
        content: "\0f040";
        font-family: 'FontAwesome';
        margin-right: 10px;
    }
    
    
    
    
    
}




.target-story [data-view="storyPageContent"]{
    .story-btns {
        
        text-align: right;
       
        p {
            margin: 0;
        }
        
        
        .menu-item-link,  .menu-item-link .clickable a {
            background-color: #2096f3;
            color:white;
            text-shadow: 0 0 2px #00000052;
            &:hover{
                background-color: darken(#2096f3, 10%);
            }
            
            &.edit, &:has(.edit) {
                background-color: mediumaquamarine;
                &:hover{
                    background-color: darken(mediumaquamarine, 10%);
                }
            }
        }
        
        .menu-item-link:has(.active){
            background-color: transparent;
            box-shadow: none;
            
            .clickable p{
                display:none;
            }
            
            .clickable a{
                display:inline-block;
            }
            
        }
        
        
        
    }
    
    
    
    button.featured-link:after {
        content: "\0f097";
        font-family: 'FontAwesome';
        color: #333333;
        font-size: 30px;
    }
    
    button.featured-link {
        background: none;
        border: none;
        position: absolute;
        top: 15px;
        right: 160px;
    }
    
    button.featured-link.active:after {
        content: "\0f02e";
        color: crimson;
    }
    
    button.featured-link.hidden {
        display: none;
    }
    
    button.featured-link.clickable {
        cursor: pointer;
        
        &:hover:after{
            color:crimson;
        }
        
        &.active:hover:after{
            color:#333333;
        }
        
    }
}



.ui-view.page-banner {
    
    
    min-height: 300px;
    background-color: #f3f3f3;
    position: relative;
    overflow: hidden;
    z-index: 1;
    

    &:after {
        content: "";
        background-image: url("https://images.squarespace-cdn.com/content/v1/5ee56dbe30c9593f5105f19c/1638248230687-QKJ43SMSGXE32DQ670K0/1.png?format=2500w");
        display: inline-block;
        background-size: cover;
        width: calc( 100% + 20px );
        height: calc( 100% + 20px );
        filter: blur(5px);
        left: -10px;
        top: -10px;
        position: absolute;
        opacity: 0.3;
        pointer-events: none;
        
        background-position: top;
        transition: background-position 300s;
        background-position: center;
        z-index: -1;
        
    }

    .markdown {
        width: 1400px;
        max-width: calc( 100% - 100px );    
    }
    
    .markdown {
        margin: auto;
        
        
        
        
        h1 {
            color: $introTextColor;
            font-size: 35px;
            font-weight: 400;
            text-shadow: 0 0 7px white;
            text-align: center;
            
            
            @media only screen and (max-width: 1250px) {
                font-size:25px;
            }
        }
        
    }
    
    
    
    
    
    
    
    .ui-list-view.banner-btns  {
        max-width: 1000px;
        margin: auto;
        text-align:center;
        
        /*
         * TODO get rid of this
         */
        
         
        
        &.un-rendered:after {
            content: "Button Two";
        }
        
        .ui-view p{
            margin:0;
        }
        
        
    }
    
}



.view-mainMap .ui-view.page-banner {
    min-height: 55px;
    border-bottom: 2px solid #3f3c3b;


    
    .markdown {
        display: none;
    }
    
    
    
    .ui-list-view.banner-btns .ui-view {
        padding: 5px 15px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .ui-list-view.banner-btns {
        text-align:right;
    }


}



     .ui-view.featured-stories, .intro-section, 
     [data-view="searchPageContent"], [data-view="storyPageContent"], [data-view="storyIndexContent"]{
        width: 1000px;
        max-width: calc( 100% - 100px );
        margin: auto;
        font-size: 1.5em;
        font-weight: 100;
     }


    .ui-view.featured-stories, .intro-section {
        

        
        margin-top: 70px;
    
    
        .ui-view.featured-story, .ui-view.featured-item {
            display: inline-block;
            width: calc( 33% - 20px );
            box-shadow: 0 0 3px rgba(0,0,0,0.3);
            min-height: 300px;
            margin: 10px;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 7px;
            background-color: rgba(0,0,0,0.05);
            vertical-align: top;
        }
    }




.ui-view.page-footer{
    height: 300px;
    background: #3f3c3b;
    margin-top: 200px;
    
    .bottom-by, .bottom-by-c {
        position: absolute;
        right: 40px;
        bottom: 50px;
        color: white;
        font-size: 25px;
        font-weight: 100;
        cursor:pointer;
        
        &:after {
            content: "";
            background-image: url(https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/VcB_trP_spq_%5BImAgE%5D_%5BG%5D-%3Ethumb%3A%3E200x%3E150.png);
            width: 323px;
            height: 100px;
            display: inline-block;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: -100px;
            left: 0;
            filter: drop-shadow(0 0 3px rgba(0,0,0,0.4));
        }
    }
    
    
    .bottom-by-c {
        right:450px;
        
        &:after{
            background-image: url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/%5BG%5D_0Zn_l8_ctO_%5BImAgE%5D-%3Ethumb%3A%3E200x%3E150.png');
            width: 235px;
            height: 80px;
            top: -90px;
        }
    }
    
}






[data-template-name="form"], .target-storyIndex .uilist-pagination{

    h2 {
        color: #4d8673;
        font-size: 50px;
        font-weight: 400;
        text-shadow: 0 0 7px white;
    }


    .form-navigation-btns {
        
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
        box-sizing: border-box;
        background-color: whitesmoke;
        margin: 0;
        height: auto;
    }
    
    .form-navigation-btns button, button.form-btn, .pagination-item button{
            display: inline-block;
            padding: 10px 20px;
            background-color: $buttonColor;
            font-size: 25px;
            margin: 5px;
            float: right;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition:background-color 1s, box-shadow 1s;
            box-shadow: 0 0 3px rgb(0 0 0 / 20%);
            
            height: auto;
            color: black;
            text-shadow: none;
            
            &:hover{
                background-color: $buttonColorHover;
                box-shadow: 0 0 8px rgb(0 0 0 / 30%);
                transition:background-color 0.3s, box-shadow 0.3s;
            }
        
    }
    
    button.form-btn.secondary-btn {
        padding: 4px 15px;
        font-size: 17px;
        background-color: $secondaryButtonColor;
        
        &:hover{
            background-color: $secondaryButtonColorHover;
        }
    }
    
    
    &>div>.template-content:after {
        content: "";
        height: 100px;
        display: block;
        clear: both;
    }
    
    
}




.target-storyIndex .page-content .ui-list-view >.uilist-pagination {
    display: inline-block;
    width: 100%;
    text-align: right;
    
    .pagination-item button{
        font-size: 16px;
        padding: 4px 10px;
        
        float:unset;
        
        &.disabled {
            background-color: rgba(0,0,0,0.1);
        }
        
    }
}





.pb-c:after {
    background-color:transparent;
}

.pb-o {
    backdrop-filter: grayscale(1) blur(20px);
}



button.inline-edit {
   
    border: none;
    background: transparent;

    
    float: right;
    
    &:after {
        content: "\0f040";
        font-family: 'FontAwesome';
        
            width: 30px;
            height: 30px;
            border-radius: 100%;
            display: inline-block;
            padding: 0;
            border: none;
            background: white;
            color: #7ec3ab;
            position: relative;
            top: -30px;
            z-index: 1;
            box-shadow: 0 0 3px rgb(0 0 0 / 20%);
            line-height: 30px;
            text-align: center;
        
    }
}


.intro-section, .page-content{
    
    button.inline-edit:after{
        background-color:$buttonColor;
        color:white;
    }
}



.content.markdown:after {
            content: "";
            clear: both;
            display: inline-block;
            width: 100%;
}


.page-content, .intro-section {
    .ui-list-view{
        text-align:center;
        &>*{
            text-align:left;
        }
    }
}
.page-content .ui-view.featured-stories .ui-view.featured-story, .intro-section .ui-view.featured-item {
    
    min-width: 250px;
    
    @media only screen and (max-width: 950px){


        min-width:300px;
        margin-left:100px;
        margin-right: 100px;
    
    }
    
    @media only screen and (max-width: 650px){


        min-width:250px;
        margin-left:10px;
        margin-right: 10px;
    
    }
}

.intro-section .ui-view.featured-item{
    
    text-align: center;
    margin-top: 200px;
    height: unset;
    min-height: unset;
    border: none;
    box-shadow: none;
    background: none;
    

    cursor:pointer;
    transition:filter 0.8s;
    
   
    
    
    .content.search:before, .content.view:before, .content.browse:before, 
    .content.register:before, .content.add:before, .content.edit:before  {
        content: "";
        font-size: 100px;
        position: absolute;
        top: -175px;
        text-align: center;
        width: 100px;
        height: 100px;
        margin: auto;
        background-color: rgba(0,0,0,0.1);
        padding: 40px;
        border-radius: 100%;
        left: calc( 50% - 90px );
        
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        
        transition:background-color 0.8s, border 0.8s;
    }
    
    
    
    

    .content.search:before{
        background-image:url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/[ImAgE]_[G]_Ilu_G2q_SAZ-%3Ethumb:%3E200x%3E150.png');
        background-color: coral;
    } 
    .content.view:before{
        background-image:url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/HgK_%5BG%5D_4pf_CU9_%5BImAgE%5D-%3Ethumb%3A%3E200x%3E150.png');
        background-color: deepskyblue;
    } 
    .content.browse:before{
        background-image:url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/[ImAgE]_KO1_[G]_3qM_dtw-%3Ethumb:%3E200x%3E150.png');
        background-color: mediumaquamarine;
        
            background-size: 57%;
            background-position: center 73px;
    }
    
    
    .content.register:before{
        background-image:url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/JNi_[G]_NiC_[ImAgE]_GRx-%3Ethumb:%3E200x%3E150.png');
        border: 3px solid #ffc105;
        background-color:white;
    } 
    .content.add:before{
        background-image:url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/[G]_0tH_ziO_roq_[ImAgE]-%3Ethumb:%3E200x%3E150.png');
        border: 3px solid #5daeeb;
        background-color:white;
    } 
    .content.edit:before{
        background-image:url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/%5BG%5D_IdT_%5BImAgE%5D_iZ9_cEI-%3Ethumb%3A%3E200x%3E150.png');
        border: 3px solid #fd8209;
        background-color:white;
    }



    
    &:hover {
        filter: drop-shadow(0 0 4px rgba(0,0,0,0.4));
        transition:filter 0.2s, border 0.2s;
        
        
        .content.search:before,  .content.view:before, .content.browse:before {
            box-shadow: 0 0 3px rgba(0,0,0,0.6);
            transition:background-color 0.2s;
        }
        .content.search:before {
            background-color: darken(coral, 10%);
        }
        .content.view:before {
            background-color:  darken(deepskyblue, 10%);
        }
        .content.browse:before {
            background-color:  darken(mediumaquamarine, 10%);
        }
        
        
        
        
        .content.register:before{
            border-color: darken(#ffc105, 10%);
        } 
        .content.add:before{
            border-color: darken(#5daeeb, 10%);
        } 
        .content.edit:before{
            border-color: darken(#fd8209, 10%);
        }
        
    }


    
    
    
}

.page-content .ui-view.featured-stories{
    span.pagination-item.next, span.pagination-item.previous {
        position: absolute;
        right: -30px;
        top: 120px;
    
        
        
        button{
            
            font-size:0;
            border: none;
            background: none;
            
            &:after {
                content: "\0f105";
                font-family: 'FontAwesome';
                font-size: 80px;
                color:$buttonColor;
            }
        }
    }
    
    span.pagination-item.previous {
        right:unset;
        left: -30px;

        button:after {
            content: "\0f104";
        }
    }
}




.page-content .ui-view.featured-stories{
    
    
    .featured-story{
    
        cursor:pointer;
        transition: background-color .8s, box-shadow .8s;
        &:hover{
            box-shadow: 0 0 14px rgb(0 0 0 / 30%);
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color .2s, box-shadow .2s;
        }
        
        &.adoption-card, &.journey-card {
            border: 3px solid #ffcc02;
            .icon {
                background-image: url(https://sixtiesscoop.geoforms.ca/uploads-sixtiesscoop.geoforms.ca/user_files_1/Uploads/shv_[ImAgE]_d3r_[G]_g3M.png);
            }
        }
        
        &.birth-card.featured-story {
            border: 3px solid #5daeeb;
            .icon {
                background-image: url(https://sixtiesscoop.geoforms.ca/uploads-sixtiesscoop.geoforms.ca/user_files_1/Uploads/7pW_da6_[ImAgE]_[G]_noG.png);
            }
        }
        
        &.repatriation-card.featured-story {
            border: 3px solid #fd8209;
            
            .icon {
                background-image: url(https://sixtiesscoop.geoforms.ca/uploads-sixtiesscoop.geoforms.ca/user_files_1/Uploads/VE4_dUd_[G]_bgL_[ImAgE].png);
            }
        }
    
    }

    .FormattedTextModule.content.item-address, .FormattedTextModule.content.item-year {
        font-size: 13px;
        font-weight: 400;
    }
    
    .FormattedTextModule.content.description-field {
        margin-bottom: 10px;
    }
    
    .FormattedTextModule.content.description-field{
        &:before, &:after {
            content: '“';
            font-size: 46px;
            line-height:0;
            vertical-align: bottom;
            color: coral;
        }
        &:after {
            content: '”';
        }
    }
    
    .birth-card .FormattedTextModule.content.description-field{
        &:before, &:after {
         color: deepskyblue;
        }
    }

}




[data-view="sidePanelInfoDetail"]{
   
    
    .icon {
        font-size: 0;
        width: 30px;
        height: 30px;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    h2 {
        text-indent: 40px;
    }

}




.uitext-container.no-media.markdown-field textarea {
    height: 250px;
}




[data-view="searchPageContent"] {
    max-width: 1000px;
    margin: auto;
    width: calc( 100% - 100px );

    
    .section-label {
        font-size: 40px;
        margin: 20px 0;
    }
    
    .text-input.with-1-line, input.search-input {
        height: 40px;
        line-height: 40px;
        text-indent: 10px;
        font-size: 18px;
    }
    
    span.lbl-txt {
        font-size: 18px;
    }
    
    .uitext-container.w-dy, .uitext-container.w-mn, .uitext-container.w-yr {

        width:calc( 33% - 7px );
        display:inline-block
    }
    
    
    
    .search-bar-content {
        margin-bottom: 50px;
    }
    
    span.search-bar-btn.left.search {
        font-size: 40px;
        margin: 20px 0;
        display: block;
    }
    
    input.search-input {
        width: 100%;
        height: 40px;
    }


}


.view-index-link {
    text-align: right;
    margin: 5px 50px;
    font-weight: 400;
    color: #3f8a9d;
    display: inline-block;
    float: right;
    cursor: pointer;

    
    &:before {
        content: "\0f00b";
        font-family: 'FontAwesome';
        font-size: 13px;
        margin-right: 5px;
    }
}



.search-result-list {
    box-shadow: none;
    
    li>span {
        height: unset;
        border: none;
        
        
        .icon{
            display: none;
        }
    }
}












.target-story, .target-storyIndex, .target-search{
    
    
        
    
    .media-container.has-img>.image{
        float: left;
        width: 150px;
        height: 150px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        border: 3px solid white;
        overflow: hidden;
        
         background-size: cover;
        
       
    }
    
    
    .media-container.has-video>.video{
        height: 400px;
        display: block;
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        margin-left: 45px;
        box-shadow: 0 0 3px rgb(0 0 0 / 30%);
        filter: grayscale(0.4);
        position: relative;
        
        border: 3px solid white;
        
        
        h2 {
            color: white;
            position: relative;
            top: 10px;
            left: 10px;
            text-shadow: 0 0 3px #00000078, 0 0 5px #0000007a;
        }
        
        
        svg {
            width: 70px;
            position: absolute;
            left: calc( 50% - 35px );
            top: calc( 50% - 10px );
            height: 50px;
            transition: filter 0.1s;
        }
        
        cursor:pointer;
        
        &:hover{
            
            filter: grayscale(0);
            svg {
                filter: hue-rotate(190deg);
                transition: filter 1s;
            }
        }
    }


    .small-video{
        
        .media-container.has-video > .video {
            width: 150px;
            height: 75px;
            margin: 0;
            left: -18px;
            
            
            h2 {
                white-space: nowrap;
                font-size: 16.5px;
                
                display: block;
                position: absolute;
                top: 0px;
                line-height: 51px;
                left: 160px;
                text-shadow: none;
                color:#333333;
            }
            
            
            
            svg{
                width: 40px;
                height: 30px;
                top: calc(50% - 13px);
                left: calc(50% - 20px);
                opacity: 0.7;
            }
                
            
        }
        
        
        
    }
    

    
    .markdown:first-child {
        min-height: 180px;
        margin-right: 180px;
    }
    
    
    
    
    [data-view="storyPageContent"], [data-view="storyIndexContent"]{
        
        h1 {
            
            position: relative;
            
            font-weight: 100;
            font-size: 30px;
            color:#3f3c3b;
            

            &>strong {
              
                margin-right: 30px;
                font-size: 55px;
                color: #2196f3;
            }
            
            &:first-child{
                
                margin-top: 60px;
                
                &>strong{
                    
                    color: #3f3c3b;
                    font-weight: 400;
                    
                }
            }
            
        }
        
        
        .markdown h2 {
            display: list-item;
            margin-left: 50px;
            font-size: 25px;
            font-weight: 100;
        }
        
        
        
        
        
        
        
        
        .map-view-link, .small-video {
            width: calc( 100% - 44px);
            line-height: 83px;
            height: 100px;
            display: inline-block;
            margin: 5px;
            font-size: 25px;
            font-weight: 100;
            color: #333333;
            position: relative;
            top: -15px;
            padding: 10px 30px;
            background-color: rgba(93, 174, 235, 0.1);
            margin-left: 44px;
            border-radius: 5px;
            box-sizing: border-box;
            cursor:pointer;
            box-shadow: 0 0 6px rgb(0 0 0 / 0%);
            transition: background-color 0.8s, box-shadow 0.8s;
            
            &:hover {
                box-shadow: 0 0 6px rgb(0 0 0 / 40%);
                background-color: rgba(93, 174, 235, 0.2);
                transition: background-color 0.2s, box-shadow 0.2s;
                &:before {
                    filter: grayscale(0);
                }
            }
            
            
            &:before {
                content: "";
                background-image: url('https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/fcp_[G]_[ImAgE]_JIy_r75-%3Ethumb:%3E200x%3E150.png');
                width: 75px;
                height: 100%;
                display: inline-block;
                float: left;
                margin-right: 10px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                filter: grayscale(0.6);
            }
            
            &>span {
                line-height: 85px;
                display: inline-block;
                vertical-align: top;
            }
            
            
            
            &.empty-story {
                background-color: white;
                font-weight: 400;
                font-size: 30px;
                margin-bottom: 80px;
                
                &:before, &:hover:before {
                    filter: opacity(0.5) grayscale(1);
                }
                
                
                &:hover {
                    box-shadow: none;
                }
            }
            
        }
        
        
        .small-video {
            position: unset;  
            //background-color: #3f3c3b;
            
            &:hover {
                //background-color: #303030;
            }
            
            &:before{
                display:none;
            }
        }
        
        
        
    }


    
   
    
    
    [data-view="sidePanelInfoDetail"]:before {
        position: absolute;
        content: "";
        height: 150%;
        border-left: 2px solid #c2c2c2;
        top: 42px;
        left: -50px;
    }
    
    [data-view="sidePanelInfoDetail"]:last-child:before {
        border-color: white;
    }
    
    [data-view="sidePanelInfoDetail"]{
        
        &:after {
            position: absolute;
            content: "";
            top: 42px;
            left: -61px;
            width: 20px;
            height: 20px;
            background: #e3e3e3;
            border-radius: 100%;
            border: 2px solid #444444;
            transition: top 0.2s, left 0.2s, width 0.2s, height 0.2s;
        }
        
        &.birth-card:after{
             background: #5daeeb;
        }
        &.journey-card:after{
            background: #ffcc02;
        }
        &.repatriation-card:after{
            background: #fd8209;
        }
        
        
        
        &.story-card, &.result-clickable {
            margin-left: 0;
            
            &:before, &:after {
                display: none;
            }
            
        }
        
        
        &:hover:after, &.anim:after {
            filter: drop-shadow(0 0 6px rgba(0,0,0,0.2));
            width: 25px;
            height: 25px;
            top: 40px;
            left: -64px;
            
        }
        
        &:hover, &.anim {
             background-color: rgba(0, 0, 0, 0.04);
        }
    }
    
    [data-view="sidePanelInfoDetail"], [data-view="scoopStoryDetail"] {
        padding: 20px;
        background-color: rgba(0,0,0,0.02);
        margin: 10px 0;
        margin-left: 50px;
        
        h2 {
            text-indent: 0;
            font-size: 25px;
            margin-bottom: 0;
        }
        
        &.story-card h2, &.result-clickable h2{
             margin-top: 0;
        }
        
    }
    
    
    .FormattedTextModule.content{
        .description-field {
            font-size: 17px;
            font-weight: 100;
            padding: 10px 0;
            margin-bottom: 20px;
            
           
        }
        
        &.item-address, &.item-year {
            font-weight: 400;
            /* text-align: right; */
            margin-right: 30%;
        }
        
        
         &.empty{
                font-size: 0;
                margin-bottom: 0;
        }
        
    }
    
    
    
    
     .icon-only .media-container.has-video>span.video {
        background-size: 0 !important;
        border: none;
        box-shadow: none;
        width: 88px;
        margin-left: 10px;
        height: 80px;
   
    
        &:after {
            background-image: url("https://nickolanackbucket.s3.us-west-2.amazonaws.com/sixties-scoop.geoforms.ca/1/Uploads/miO_w4g_%5BG%5D_QyO_%5BImAgE%5D-%3Ethumb%3A%3E200x%3E150.png");
            content:"";
            display: inline-block;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        
        
        svg {
            display: none;
        }
        
        h2 {
            font-size: 25px;
            left: 95px;
            line-height: 38px;
        }
    
     }
    
    
}

.target-search{

    button.inline-edit.options-btn:after {
        top: 0;
        content: "\0f1de";
        color: black;
        background: transparent;
        box-shadow: none;
    }
    
    button.inline-edit.options-btn.enabled:after {
        background-color: rgba(0,0,0,0.1);
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        margin-left:5px;
    }
    
    button.inline-edit.options-btn {
        position: relative;
        top: -40px;
        cursor:pointer;
    }
    
    .ui-view.search-content {
        display: none;
    }
    
    .ui-view.search-content.enabled {
        display: block;
    }
        
    
}




.target-storyIndex [data-view="sidePanelInfoDetail"]{
    cursor:pointer;
    &:nth-child(odd){
        background-color: rgba(0, 0, 0, 0.06);
    }
    &:hover:nth-child(odd){
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.target-search .search-result-list li:nth-child(odd) [data-view="sidePanelInfoDetail"]{
    background-color: rgba(0, 0, 0, 0.06);
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}


.hide-admin .admin-btn, .hide-admin .inline-edit {
    display:none
}


.content.admin-toggle p {font-size: 0;}

.content.admin-toggle p:after {
    content: "\0f044";
    font-size: 16px;
    font-family: 'FontAwesome';
    color: deepskyblue;
}

.hide-admin .content.admin-toggle p:after{
    color:unset;
}


a.ui-view,.template-content a{
    color: inherit;
}

.markdown.template-content a {
    color: #3f8a9d;
}

.toggle-display-mode {
    position: relative;


    &:after {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -28px;
        bottom: 10px;
   
        content: "\0f066";
        font-family: 'FontAwesome';
        font-size: 20px;
        color: #2096f3;
    }
}

.small-video .toggle-display-mode:after {
    content: "\0f065";
    top: unset;
    bottom: 35px;
    right: -12px;
}

.full-overlay{
    .pb-c.pb-c-append {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background: white;
        
        &>div {
            max-width: 1000px;
            margin: auto;
            margin-bottom: 100px;
            margin-top: 50px;
        }
    }
    
    .form-navigation-btns {
        position: fixed;
    }
    
    
    
    
    .media-bar.tabs-bottom {
        position: relative;
        height: 40px;
    }
    
    .input-hidden.uitext-container {
        display: none;
    }
    
    .uitext-container .text-input{
        padding: 5px 10px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 3px;
        min-height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: cornflowerblue;
    }
    
    
    .uitext-container .text-input.more-than-1 {
        line-height: 30px;
        &.empty{
            line-height: 40px;
        }
    }
    
    [data-view="createStoryForm"], [data-view="profileFormView"],
    [data-view="publishingOptionsForm"], [data-view="createBirthStoryForm"], [data-view="createRepatriationStoryForm"]{
        padding: 40px;
        background: rgba(0,0,0,0.03);
        margin: 10px;
        border-radius: 5px;
    }
    
    [data-view="createStoryForm"].new-empty-item {
        background: rgba(93, 174, 235, 0.2);
    }
    
    span.lbl-txt {
        font-size: 16px;
        padding: 5px 0;
    }



   
    
    .uitext-container {
        margin-bottom: 15px;
    }
    
     .boolean-field, .tag-cloud-container {
        margin: 5px;
        margin-bottom: 35px;
        display: block;
    }
    
    .boolean-field{
        label.true-label, label.false-label {
            padding: 8px 20px 8px 10px;
            background-color: white;
            margin: 5px;
            vertical-align: inherit;
            font-size: 16px;
            cursor: pointer;
        }
        
        label.true-label input, label.false-label input {
            display: inline-block;
            vertical-align: inherit;
        }
        
        label.true-label {
            margin-left: 20px;
        }
        
        
        
        &.checkbox-style{
        
            input {
                margin-right: 20px;
            }
            
            
          
            margin-top: 35px;
            ursor: pointer;
        
        }
        
    }
    
    
    
    
    .file-browse-btn.combined-browser{
        
    }
    
    .file-browse-btn.combined-browser:after {
        content: "Add Photos";
    }
    
    
    .file-browse-btn.combined-browser, .tag-cloud span.tag-el {
        border: none;
        padding: 10px 20px;
        font-size: 16.5px;
        margin: 5px;
        background-color: mediumaquamarine;
        border-radius: 3px;
        box-shadow: 0 0 8px rgb(0 0 0 / 30%);
        transition: background-color 0.3s, box-shadow 0.3s;
        &:hover{
            background-color: darken(mediumaquamarine, 10%);
        }
    }
    
    .tag-cloud span.tag-el {
        background-color: #d9d9d9;
        box-shadow: none;
        &:hover{
            background-color: darken(#d9d9d9, 10%);
        }
    }
    
    .tag-cloud span.tag-el.selected {
        background-color: #03A9F4;
        box-shadow: 0 0 8px rgb(0 0 0 / 30%);
         &:hover{
            background-color: darken(#03A9F4, 10%);
        }
    }
    
    
    
    
    .pb-modules-viewer:after {
        position: absolute;
        width: 100%;
        content: "";
        height: 200px;
        background-color: #3f3c3b;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    h1 {
        font-size: 60px;
        font-weight: 600;
        color: #03a9f4;
        margin: 0;
        margin-bottom: 140px;
    }
    
    
    
    h2 {
        margin-bottom: 0;
        color: black;
        margin-top: 100px;
    }
    
    .markdown p {
        font-size: 1.5em;
    }
    
    
     a.pb-btn-close {
        position: fixed;
        top: 100px;
        right: 100px;
        background-image: unset;
        background-color: transparent;
    }
    
    a.pb-btn-close:after {
        content: "\0f00d";
        color: white;
        font-family: 'FontAwesome';
        font-size: 50px;
    }
    
    
    
    .ui-view.new-empty-item.never-focused {
        
        padding: 10px 20px;
        background-color: mediumaquamarine;
        display: inline-block;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 1s, box-shadow 1s;
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
    
        &:hover{
            background-color: darken(mediumaquamarine, 10%);
            box-shadow: 0 0 8px rgb(0 0 0 / 30%);
            transition: background-color 0.3s, box-shadow 0.3s;
        }
        
        .ui-template-default {
            display: none;
        }
        
        &:after {
            content: "Add Another Journey";
            font-size: 20px;
        }
    
    }
    
    
    
    
}






