$buttonColor:#a1d3c2;
$buttonColorHover:darken(#a1d3c2, 10%);

.header-menu {
    position: absolute;
    top: 100px;
    right: 100px;    


    .ui-view.menu-item-link {
        height: 30px;
        line-height: 30px;
        display: inline-block;
        margin: 10px;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 5px 20px;
    }
    
}





.site-heading {
    position: absolute;
    left: 300px;
    top: 55px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 50px black;
    
    h1 {
        font-weight: 500;
    }
}







.ui-view.page-header {
   
   
    height: 250px;
    background: #3f3c3b;


    &:after {
        background-image: url("https://images.squarespace-cdn.com/content/v1/5ee56dbe30c9593f5105f19c/1592244537146-K72WYV6R1FMFJ4267ZJO/60s+logo.png?format=1500w");
        position: absolute;
        content: "";
        height: 250px;
        width: 250px;
        display: inline-block;
        background-size: cover;
    }
}


.ui-view.page-banner {
    
    
    min-height: 300px;
    background-color: #f3f3f3;
    position: relative;
    overflow: hidden;
    

    &:after {
        content: "";
        background-image: url("https://images.squarespace-cdn.com/content/v1/5ee56dbe30c9593f5105f19c/1638248230687-QKJ43SMSGXE32DQ670K0/1.png?format=2500w");
        display: inline-block;
        background-size: cover;
        width: calc( 100% + 20px );
        height: calc( 100% + 20px );
        filter: blur(5px);
        left: -10px;
        top: -10px;
        position: absolute;
        opacity: 0.3;
        pointer-events: none;
        
        background-position: top;
        transition: background-position 300s;
        background-position: center;
        
    }

    
    
    .markdown {
        margin: auto;
        max-width: 1000px;
        
        
        
        h1 {
            color: #4d8673;
            font-size: 50px;
            font-weight: 400;
            text-shadow: 0 0 7px white;
        }
    }
    
    
    
    
    
    
    
    .ui-view.banner-btns {
        max-width: 1000px;
        margin: auto;
        text-align:center;
        
        /*
         * TODO get rid of this
         */
        
        &.un-rendered:before, &.un-rendered:after {
            content: "Button One";
            display: inline-block;
            padding: 10px 20px;
            background-color: $buttonColor;
            font-size: 40px;
            margin: 10px;
            margin-bottom: 40px;
        
        }
        
        &.un-rendered:after {
            content: "Button Two";
        }
        
    }
    
}



    .ui-view.featured-stories, .intro-section {
        font-size: 1.5em;
        font-weight: 100;
        max-width: 1000px;
        margin: auto;
        margin-top: 70px;
    
    
        .ui-view.featured-story, .ui-view.featured-item {
            display: inline-block;
            width: calc( 33% - 20px );
            box-shadow: 0 0 3px rgba(0,0,0,0.3);
            min-height: 300px;
            margin: 10px;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 7px;
            background-color: rgba(0,0,0,0.05);
        }
    }




.ui-view.page-footer.un-rendered {
    height: 300px;
    background: #3f3c3b;
    margin-top: 200px;
}



[data-template-name="form"]{

    h2 {
        color: #4d8673;
        font-size: 50px;
        font-weight: 400;
        text-shadow: 0 0 7px white;
    }


    .form-navigation-btns {
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
        box-sizing: border-box;
        background-color: whitesmoke;
        
        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: $buttonColor;
            font-size: 25px;
            margin: 5px;
            float: right;
            border: none;
            border-radius: 3px;
            curser:pointer;
            
            &:hover{
                background-color: $buttonColorHover;
            }
        }
    }
}

.pb-c:after {
    background-color:transparent;
}

.pb-o {
    backdrop-filter: grayscale(1) blur(20px);
}














