
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.view-main {
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.site-title h1 {
    font-weight: 100;
    float: left;
    margin: 0;
    text-indent: 100px;
    line-height: 100px;
    text-transform: uppercase;
}

.site-logo h1{
    
    height: 100px;
    background-image: url(<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('siteLogo')[0].'?thumb=>100x>100');?>);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
}



.ui-view.section-top {
    background-color: rgba(0,0,0,0.1);
    display: block;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    z-index: 1;
    height: 100px;
}


.MapOverlayView.bottom-center.UIMapControl {
    width: 100%;
    background: white;
}
.ui-view.overlay-bar {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 1px 10px;
}


.bottom-by {
    float: right;
}

.story-list .story-card{
    vertical-align: top;
}

.ui-view.story-card {
    display: inline-block;
    height: 100px;
    width: 80px;
    background: white;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.card-img {
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px 3px 0 0;
}

.story-card h3 {
    margin: 2px;
    text-align: left;
}

.story-card p {
    text-align: left;
    margin: 2px;
}

.story-card .add-card {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
}


.SideBarWidget.UIMapControl {
    width: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.SideBarWidget.right>.toggle-button, .SideBarWidget.right.active>.toggle-button {
    background-color: white;
    background-image: url(https://sixtyscoop.geoforms.ca/php-core-app/assets/Control%20Panel%20Icons/search.png);
    background-size: 60%;
}

.primary-btn, .inline-btn {
    cursor: pointer;
}
.profile-section  .primary-btn {
    background-color: #549ae6;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: 100;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 22px;
    margin-top: 25px;
    border-radius:3px;
}

.profile-section .inline-btn{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #5ea5e9;
}

.profile-section .primary-btn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    background-color: #4987cc;
}
.profile-section .inline-btn:hover {
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-color: #4987cc;
}

.profile-section .login {
    background-color: #639d16;
}
.profile-section .login:hover {
    background-color: #5e8e12;
}
.profile-section .logout {}
.profile-section .register {}

.ui-view.profile-section {
    float: right;
}
 
.profile-section span.user-icon {
    width: 90px;
    height: 90px;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 100px;
    margin: 5px 10px;
    border: 3px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.profile-section .array-module>div {
    display: inline-block;
    vertical-align: top;
}

.profile-section span.user-name {
    line-height: 80px;
    }

.profile-section .inline-btn.profile {
    position: absolute;
    top: 55px;
    left: 20px;
}




/*Forms*/


textarea[disabled] {
    background: rgba(0,0,0,0.1);
    color: #549ae6;
}

.uitext-container .label {
    font-size:15px;
    color: gray;
    padding: 5px 0;
    font-weight: 100;
}



.text-input {
    border-radius: 2px;
    border: 1px solid gray;
}

.uitext-container {
    margin-bottom: 15px;
}


.uitext-container.readonly .label:after {
    content: " read only";
    font-size: .6em;
    float: right;
    font-style: italic;
    position: relative;
    top: 9px;
}


.form-navigation-btns {
    text-align: right;
    display: block;
    margin: 10px 5px;
    padding: 10px 0;
    height: 30px;
}

.form-navigation-btns .btn {
    float: right;
    height: 30px;
    margin-left: 5px;
    background-color: #549ae6;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 2px;
    padding: 0 15px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.form-navigation-btns .btn:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    background-color: #4987cc
}




