
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.view-main {
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.site-title h1 {
    font-weight: 100;
    float: left;
    margin: 0;
    text-indent: 100px;
    line-height: 100px;
    text-transform: uppercase;
}

.site-logo h1{
    
    height: 100px;
    background-image: url(<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('siteLogo')[0].'?thumb=>100x>100');?>);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
}


.birth-card .icon{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('birthIcon')[0].'?thumb=>100x>100');?>");
}
.journey-card .icon{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('storyIcon')[0].'?thumb=>100x>100');?>");
}
.repatriation-card .icon{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('repatriationIcon')[0].'?thumb=>100x>100');?>");
}
.publishing-options-card .icon{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('publishingOptionsIcon')[0].'?thumb=>100x>100&tint=rgb(99, 157, 22)');?>");
}




span.delete-btn, span.edit-btn {
    opacity:0;
}

.story-card:hover span.delete-btn, .story-card:hover span.edit-btn {
    width: 20px;
    height: 20px;
    background-size: 90%;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

    opacity:1;
    transition:opacity 1.2s;

}

.story-card:hover span.delete-btn {
    left: -7px;
    bottom: -10px;
}

.story-card:hover span.edit-btn {
    left: -5px;
    top: -7px;
    background-size: 60%;
}

.edit-btn{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('editIcon')[0].'?thumb=>100x>100');?>");
}

.delete-btn{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('deleteIcon')[0].'?thumb=>100x>100');?>");
}

.edit-btn:hover{
    background-image: url("<?php echo UrlFrom(GetWidget('siteConfig')->getParameter('editIcon')[0].'?thumb=>100x>100&tint=rgb(99, 157, 22)');?>");
}


.story-card .icon {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100%;
    top: -10px;
    left: -10px;
}



.ui-view.section-top {
    background-color: rgba(0,0,0,0.1);
    display: block;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    z-index: 1;
    height: 100px;
}


.MapOverlayView.bottom-center.UIMapControl {
    width: 100%;
    background: white;
}
.ui-view.overlay-bar {
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 1px 10px;
}


.bottom-by {
    float: right;
}

.story-list .story-card{
    vertical-align: top;
}

.ui-view.story-card {
    display: inline-block;
    height: 100px;
    width: 80px;
    background: white;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.card-img {
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px 3px 0 0;
    background-size: cover;
}

.story-card h3 {
    margin: 2px;
    text-align: left;
}

.story-card p {
    text-align: left;
    margin: 2px;
}

.story-card .add-card {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    border: none;
    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;
    cursor: pointer;
}

.add-card>.icon:after {
    content: "+";
    font-size: 20px;
}
.help-card>.icon:after {
    display:none;
}

.story-card .add-card:hover, .story-card .add-card.hover {
    background-color: rgba(0,0,0,0.2);
}


.SideBarWidget.UIMapControl {
    width: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.SideBarWidget.right>div.toggle-button, .SideBarWidget.right.active>div.toggle-button {
    background-color: white;
    background-image: url("<?php echo UrlFrom('{assets}/Control Panel Icons/search.png'); ?>");
    background-size: 60%;
}

.SideBarWidget.right>div.toggle-button:hover{
     background-color: #549ae6;
}

.primary-btn, .inline-btn {
    cursor: pointer;
}
.profile-section  .primary-btn {
    background-color: #549ae6;
    border: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    margin: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: 100;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: 22px;
    margin-top: 25px;
    border-radius:3px;
}

.profile-section .inline-btn{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #5ea5e9;
}

.profile-section .primary-btn:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    background-color: #4987cc;
}
.profile-section .inline-btn:hover {
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-color: #4987cc;
}

.profile-section .login {
    background-color: #639d16;
}
.profile-section .login:hover {
    background-color: #5e8e12;
}
.profile-section .logout {}
.profile-section .register {}

.ui-view.profile-section {
    float: right;
}
 
.profile-section span.user-icon {
    width: 90px;
    height: 90px;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 100px;
    margin: 5px 10px;
    border: 3px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-size:cover;
}

.profile-section .array-module>div {
    display: inline-block;
    vertical-align: top;
}

.profile-section span.user-name {
    line-height: 80px;
    }

.profile-section .inline-btn.profile {
    position: absolute;
    top: 55px;
    left: 20px;
}




/*Forms*/


textarea[disabled] {
    background: rgba(0,0,0,0.1);
    color: #549ae6;
}

.uitext-container .label {
    font-size:15px;
    color: gray;
    padding: 5px 0;
    font-weight: 100;
}



.text-input {
    border-radius: 2px;
    border: 1px solid gray;
}

.uitext-container {
    margin-bottom: 15px;
    display: block;
}


.uitext-container.readonly .label:after {
    content: " read only";
    font-size: .6em;
    float: right;
    font-style: italic;
    position: relative;
    top: 9px;
}


.form-navigation-btns {
    text-align: right;
    display: block;
    margin: 10px 5px;
    padding: 10px 0;
    height: 30px;
}

.form-navigation-btns .btn {
    float: right;
    height: 30px;
    margin-left: 5px;
    background-color: #549ae6;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 2px;
    padding: 0 15px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-weight: 100;
    font-size: 15px;
}

.form-navigation-btns .btn:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    background-color: #4987cc
}


.upload-btns span.image {
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: inline-block;
    position: relative;
}

.upload-btns span.image:after {
    content: "add image";
    white-space: nowrap;
    position: absolute;
    left: 30px;
    line-height: 30px;
    color: cornflowerblue;
}

.hidden {
    display: none;
}
.input-hidden>.text-input {
    display: none;
}

.uploads-hidden .media-bar, .uploads-hidden .media-selection {
    display: none;
}


span.image-file.media-item {
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 60px;
    height: 60px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}



span.remove-btn:after {
    position: absolute;
    top: -2px;
    right: -5px;
    height: 13px;
    width: 13px;
    content: "⌫";
    line-height: 12px;
    text-align: center;
    border-radius: 100%;
    font-size: larger;
    cursor: pointer;
    color: crimson;
}

span.image-file.media-item img {
    margin-top: 13px;
}


.story-card .active:after {
    content: "";
    position: absolute;
    width: calc( 100% + 10px );
    height: calc( 100% + 10px );
    background: #66b7ed;
    top: -5px;
    left: -5px;
    z-index: -1;
    border-radius: 5px;
}



.user-name {
    cursor: pointer;
    color: #5ea5e9;
}

span.user-link {
    cursor: pointer;
    color: #fb8a05;
    font-size: 11px;
}



.search-card .card-img {
    display:none;
}

.search-card h3, .search-card p, .search-card div {
    display: inline;
}

.search-container, .advanced-search {
    margin: 0 10px;
    display: inline-block;
}

.search-result-list.hybrid {
    margin-left: 10px;
}

input.search-input {
    width: 368px;
    height: 30px;
    line-height: 30px;
    text-indent: 14px;
    border: none;
    background-color: white;
        margin-left: 5px;
}

span.search-bar-btn.left.search, .section-label {
    display: block;
    width: 368px;
    text-align: left;
    margin-top: 30px;
    text-indent: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 100;
    color: #5ea5e9;
}


.pb-c {
    background-color: #f0f0f0;
}

.uitext-container .label {
    color: #5ea5e9;
}

.text-input {
 
    border: none;
}


.sidebar-view {
    text-align: left;
}


.uitext-container.w-dy textarea {
    display: inline-block;
    width: 30px;
}

.uitext-container.w-dy, .uitext-container.w-mn, .uitext-container.w-yr {
    width: 30px;
    display: inline-block;
}

.uitext-container.w-dy .label {
    white-space: nowrap;
}

.uitext-container.w-yr {
    width: 60px;
}

.sidebar-view .uitext-container {
    margin-bottom: 0;
}







